<!DOCTYPE html>
<html>
    <body>
        <div class="container-fluid">
            <div class="row">
        <h1>Our students</h1>
        <div class="table table-responsive">
            <table class="table-bordered col-md-12">
                <thead>
                    <tr>
                        <th>Names</th>
                        <th>Coarse</th>
                        <th>Description</th>
                    </tr>
                </thead>
            {%for Student in students%}
            <tr>
                <td>{{student.names}}</td>
                <td>{{student.description}}</td>
                <td>{{student.coarse}}</td>
            </tr>
            {%end for}
            </table>
    </div>
        </div>
        </div>
        <script ="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </body>
</html>